body {
  margin: 0;
  text-align: center;
  background-color: #cbf3f0;
  font-size: 0;
}

div {
  width: 100vw;
}

h1 {
  width: 20%;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

h3 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

p{
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.first_child {
  position: relative;
  height: 100vh;
}

.second_child {
  position: relative;
  height: auto;
}

.third_child {
  position: relative;
  height: auto;
}

.fourth_child {
  position: relative;
  height: 25vh;
  background-color: #2ec4b6;
}

.img-box {
  height: auto;
  display: block;
  position: absolute;
  bottom: 0;
}

.second_child div {
  display: flex;
  align-items: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.second_child div div {
  display: inline-block;
  text-align: left;
  width: 50vw;
}

.middle-description {
  margin: 10vh auto 10vh;
}

.second_child img {
  border-radius: 50%;
  width: 10vw;
  margin: auto 2vw;
}

.second_child p {
  width: auto;
  line-height: 2;
}

.button {
  margin: 3vh auto 10vh;
  height: 2rem;
  width: 5rem;
  background-color: #2ec4b6;
  border: none;
  border-radius: 40%;
}

.button:hover {
  transition: 0.7s;
  transform: scale(1.2)
}
